@import "tailwindcss";

.body {
  max-width: 1560px;
  width: 100%;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.card {
  background-color: #141414;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  flex: 1 1 clamp(200px, 20vw, 260px);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 20px 5px rgba(229, 9, 20, 0.35);
  transform: scale(1.02);
}

.poster {
  background-color: #141414;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  overflow: hidden;
}

/* Mobile */
@media (max-width: 650px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0.2;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  animation: fadeDown 0.6s ease-out forwards;
}
